<?xml version="1.0"?>
<configuration>
  <!-- This section is required for configuration of the resource provider -->
  <configSections>
    <!-- Custom Sections -->
    <section name="DbResourceProvider" type="Westwind.Globalization.DbResourceProviderSection,Westwind.Globalization" requirePermission="false"/>
    <!-- End Custom Sections -->

  </configSections>

  <!-- Using ConnectionStrings entry. You can also use a full SQL connection string. -->
  <DbResourceProvider connectionString="LocalizationSamples" resourceTableName="Localizations" designTimeVirtualPath="/internationalization" showLocalizationControlOptions="true" showControlIcons="true" localizationFormWebPath="~/localizationadmin/LocalizationAdmin.aspx" addMissingResources="false" useVsNetResourceNaming="false" stronglyTypedGlobalResource="~/App_Code/Resources.cs,AppResources"/>
  <!-- ResourceProvider Configuration section -->
  <connectionStrings>
    <add name="LocalizationSamples" connectionString="server=.;database=DevSamples;integrated security=true;"/>
    <add name="_LocalizationSamples" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Internationalization.mdf;Integrated Security=True;User Instance=True;"/>
  </connectionStrings>

  <appSettings>
    <add key="Culture" value="de-DE"/>
    <add key="Theme" value="Luna"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
